In [2]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [5]:
for chave in vendas_tecnologia:
    print(f"{chave}: {vendas_tecnologia[chave]} unidades")

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
notebook dell: 17000 unidades
notebook asus: 2450 unidades

In [8]:
total_not = 0

for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_not += vendas_tecnologia[chave]

print(total_not)

20450

In [1]:
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}

In [2]:
itens_dici = vendas_tecnologia.items()
print(itens_dici)

dict_items([('notebook asus', 2450), ('iphone', 15000), ('samsung galaxy', 12000), ('tv samsung', 10000), ('ps5', 14300), ('tablet', 1720), ('notebook dell', 17000), ('ipad', 1000), ('tv philco', 2500), ('notebook hp', 1000)])

In [6]:
for produto, qtd in vendas_tecnologia.items():
    print(f"{produto}: {qtd} unidades")

notebook asus: 2450 unidades
iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
notebook dell: 17000 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades

In [9]:
for chave in vendas_tecnologia:
    if vendas_tecnologia[chave] > 5000:
        print(f"{chave} {vendas_tecnologia[chave]} unidades")

iphone 15000 unidades
samsung galaxy 12000 unidades
tv samsung 10000 unidades
ps5 14300 unidades
notebook dell 17000 unidades

In [12]:
for produto, qtd in vendas_tecnologia.items():
    if qtd > 5000:
        print(f"{produto}: {vendas_tecnologia[chave]} unidades")

iphone: 1000 unidades
samsung galaxy: 1000 unidades
tv samsung: 1000 unidades
ps5: 1000 unidades
notebook dell: 1000 unidades

In [16]:
chaves = vendas_tecnologia.keys()
valores = vendas_tecnologia.values()
print(chaves)
print(valores)

dict_keys(['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'notebook dell', 'ipad', 'tv philco', 'notebook hp', 'iphonegab'])
dict_values([2450, 15000, 12000, 10000, 14300, 1720, 17000, 1000, 2500, 1000, 10])

In [17]:
vendas_tecnologia['iphonegab'] = 10
print(chaves)
print(valores)

dict_keys(['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'notebook dell', 'ipad', 'tv philco', 'notebook hp', 'iphonegab'])
dict_values([2450, 15000, 12000, 10000, 14300, 1720, 17000, 1000, 2500, 1000, 10])

In [19]:
print(list(chaves))
print(list(valores))

['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'notebook dell', 'ipad', 'tv philco', 'notebook hp', 'iphonegab']
[2450, 15000, 12000, 10000, 14300, 1720, 17000, 1000, 2500, 1000, 10]

In [24]:
for produto, qtd in vendas_tecnologia.items():
    print(f"{produto}: {vendas_tecnologia[chave]} unidades")
print("-" * 40)

lista_chave = list(chaves)
lista_chave.sort()

for chave in lista_chave:
    print(f"{chave}: {vendas_tecnologia[chave]} unidades")

notebook asus: 10000 unidades
iphone: 10000 unidades
samsung galaxy: 10000 unidades
tv samsung: 10000 unidades
ps5: 10000 unidades
tablet: 10000 unidades
notebook dell: 10000 unidades
ipad: 10000 unidades
tv philco: 10000 unidades
notebook hp: 10000 unidades
iphonegab: 10000 unidades
----------------------------------------
ipad: 1000 unidades
iphone: 15000 unidades
iphonegab: 10 unidades
notebook asus: 2450 unidades
notebook dell: 17000 unidades
notebook hp: 1000 unidades
ps5: 14300 unidades
samsung galaxy: 12000 unidades
tablet: 1720 unidades
tv philco: 2500 unidades
tv samsung: 10000 unidades